
.persianFont {
  font-family: "Vazir FD", sans-serif !important;

  * {
      font-family: "Vazir FD", sans-serif !important;
  }
}

.englishFont {
  font-family: sans-serif !important;

  * {
      font-family: sans-serif !important;
  }
}
